In [9]:
import pandas as pd
import psycopg
import json

In [3]:
def get_db_connection():
    """Establishes and returns a connection to the PostgreSQL database."""
    try:
        conn = psycopg.connect("postgresql://michellelin@localhost/yelp")
        return conn
    except Exception as e:
        print(f"Error connecting to the database: {e}")
        return None

# Denormalized Data

## Create the data schema

In [17]:
# Connect to the PostgreSQL database
conn = get_db_connection()
cursor = conn.cursor()

# Full SQL schema definition
schema_sql = """
DROP TABLE IF EXISTS review CASCADE;
DROP TABLE IF EXISTS checkin CASCADE;
DROP TABLE IF EXISTS tip CASCADE;
DROP TABLE IF EXISTS photo CASCADE;
DROP TABLE IF EXISTS business CASCADE;
DROP TABLE IF EXISTS yelp_user CASCADE;

CREATE TABLE IF NOT EXISTS business (
    business_id VARCHAR(22) PRIMARY KEY,
    name VARCHAR NOT NULL,
    address VARCHAR,
    city VARCHAR,
    state VARCHAR(2),
    postal_code VARCHAR(10),
    latitude NUMERIC,
    longitude NUMERIC,
    stars NUMERIC CHECK (stars BETWEEN 0 AND 5),
    review_count INTEGER,
    is_open INTEGER CHECK (is_open IN (0, 1)),
    attributes TEXT,
    categories TEXT, 
    hours TEXT
);

CREATE TABLE IF NOT EXISTS yelp_user (
    user_id VARCHAR(22) PRIMARY KEY,
    name TEXT,
    review_count INTEGER,
    yelping_since DATE,
    friends TEXT, 
    useful INTEGER,
    funny INTEGER,
    cool INTEGER,
    fans INTEGER,
    elite TEXT, 
    average_stars NUMERIC CHECK (average_stars BETWEEN 0 AND 5),
    compliment_hot INTEGER,
    compliment_more INTEGER,
    compliment_profile INTEGER,
    compliment_cute INTEGER,
    compliment_list INTEGER,
    compliment_note INTEGER,
    compliment_plain INTEGER,
    compliment_cool INTEGER,
    compliment_funny INTEGER,
    compliment_writer INTEGER,
    compliment_photos INTEGER
);

CREATE TABLE IF NOT EXISTS review (
    review_id VARCHAR(22) PRIMARY KEY,
    user_id VARCHAR(22) REFERENCES yelp_user (user_id) ON DELETE CASCADE,
    business_id VARCHAR(22) REFERENCES business (business_id) ON DELETE CASCADE,
    stars NUMERIC CHECK (stars BETWEEN 0 AND 5),
    date DATE NOT NULL,
    text TEXT,
    useful INTEGER,
    funny INTEGER,
    cool INTEGER
);

CREATE TABLE IF NOT EXISTS checkin (
    business_id VARCHAR(22) REFERENCES business (business_id) ON DELETE CASCADE,
    date_time TIMESTAMP NOT NULL,
    PRIMARY KEY (business_id, date_time)
);

CREATE TABLE IF NOT EXISTS tip (
    user_id VARCHAR(22) REFERENCES yelp_user (user_id) ON DELETE CASCADE,
    business_id VARCHAR(22) REFERENCES business (business_id) ON DELETE CASCADE,
    text TEXT NOT NULL,
    date DATE NOT NULL,
    compliment_count INTEGER DEFAULT 0,
    PRIMARY KEY (user_id, business_id, date)
);

CREATE TABLE IF NOT EXISTS photo (
    photo_id VARCHAR(22) PRIMARY KEY,
    business_id VARCHAR(22) REFERENCES business (business_id) ON DELETE CASCADE,
    caption TEXT,
    label TEXT
);
"""

# Execute the schema to create the tables
cursor.execute(schema_sql)

# Commit and close
conn.commit()
cursor.close()
conn.close()
print("Tables created successfully.")

Tables created successfully.

## Insert data

### business

In [19]:
# Step 1: Read the CSV file for 'business'
df_business = pd.read_csv('../sampled_data/business_sample.csv')

# Convert columns to plain text
df_business['attributes'] = df_business['attributes'].astype(str)
df_business['categories'] = df_business['categories'].astype(str)
df_business['hours'] = df_business['hours'].astype(str)

# Replace NaN or None with NULL in the DataFrame for columns that allow NULL
df_business['attributes'] = df_business['attributes'].replace({pd.NA: None, 'nan': None})
df_business['categories'] = df_business['categories'].replace({pd.NA: None, 'nan': None})
df_business['hours'] = df_business['hours'].replace({pd.NA: None, 'nan': None})

# View the first few rows to ensure everything looks correct
print(df_business.head())

              business_id                  name                 address  \
0  UVfYRQIr6u_WrFSY5Cv7xw               InCycle          736 Hanover Pl
1  wH6QxQv31IJ-qQ-FKIc5TA        Roman Plumbing         6125 Grand Blvd
2  K1NdCTaJWK1ezkZpPyB7-A    Desert Rain Coffee     1551 E Tangerine Rd
3  juL8ovMlnjkXNACxZ8HLAQ  Sam Levitz Furniture  3750 W Orange Grove Rd
4  2eN2pfPCear_ofmgQ0peCw     David Caplan, CPA     301 Andorra Glen Ct

              city state postal_code   latitude   longitude  stars  \
0           Carmel    IN       46032  39.969726  -86.127815    5.0
1  New Port Richey    FL       34652  28.247926  -82.719939    4.5
2       Oro Valley    AZ       85755  32.429167 -110.948631    5.0
3           Tucson    AZ       85741  32.324899 -111.044485    2.0
4   Lafayette Hill    PA       19444  40.088457  -75.267412    4.5

   review_count  is_open                                         attributes  \
0            32        1  {'GoodForKids': 'False', 'BusinessAcceptsCredi...
1            29        1  {'BusinessAcceptsBitcoin': 'False', 'ByAppoint...
2            46        0  {'BusinessAcceptsCreditCards': 'True', 'Restau...
3           186        1  {'BusinessParking': "{'garage': False, 'street...
4            13        1                                               None

                                          categories  \
0  Active Life, Cycling Classes, Gyms, Fitness & ...
1  Plumbing, Water Heater Installation/Repair, Co...
2                                 Coffee & Tea, Food
3  Shopping, Mattresses, Home & Garden, Furniture...
4                 Professional Services, Accountants

                                               hours
0  {'Monday': '16:0-20:0', 'Tuesday': '16:0-20:0'...
1  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
2  {'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ...
3  {'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'...
4                                               None

In [32]:

def bulk_insert(conn, table_name, dataframe, conflict_column=None):
    """
    Inserts data from a Pandas DataFrame into a PostgreSQL table.

    Args:
        conn: PostgreSQL connection object.
        table_name: The name of the PostgreSQL table to insert into.
        dataframe: The Pandas DataFrame containing the data to be inserted.
        conflict_column: The column name to use in the ON CONFLICT clause.
    """
    try:
        # Get column names from the DataFrame
        columns = ', '.join(dataframe.columns)
        
        # Create a placeholder string for the VALUES portion of the SQL
        placeholders = ', '.join(['%s'] * len(dataframe.columns))
        
        # Full SQL insert query with dynamic conflict column
        if conflict_column:
            query = f"""
            INSERT INTO {table_name} ({columns}) 
            VALUES ({placeholders}) 
            ON CONFLICT ({conflict_column}) DO NOTHING;
            """
        else:
            query = f"""
            INSERT INTO {table_name} ({columns}) 
            VALUES ({placeholders});
            """
        
        # Convert DataFrame to a list of tuples
        data = [tuple(x) for x in dataframe.to_numpy()]
        
        with conn.cursor() as cursor:
            cursor.executemany(query, data)
        
        # Commit the changes
        conn.commit()
        print(f"Successfully inserted {len(data)} rows into {table_name}.")
        
    except Exception as e:
        print(f"Error inserting data into {table_name}: {e}")

# Connect to the PostgreSQL database
conn = get_db_connection()

# Call the bulk_insert function to load the data
bulk_insert(conn, 'business', df_business)

# Close the connection
conn.close()

Error inserting data into business: duplicate key value violates unique constraint "business_pkey"
DETAIL:  Key (business_id)=(UVfYRQIr6u_WrFSY5Cv7xw) already exists.

In [33]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [34]:
%sql postgresql://michellelin@localhost:5432/yelp

In [37]:
%%sql
SELECT * FROM business LIMIT 1;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

1 rows affected.

+------------------------+---------+----------------+--------+-------+-------------+------------+-------------+-------+--------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|      business_id       |   name  |    address     |  city  | state | postal_code |  latitude  |  longitude  | stars | review_count | is_open |                                                                                                                          attributes                                                                                                                         |                                categories                                |                                                                                  hours                                                                                   |
+------------------------+---------+----------------+--------+-------+-------------+------------+-------------+-------+--------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| UVfYRQIr6u_WrFSY5Cv7xw | InCycle | 736 Hanover Pl | Carmel |   IN  |    46032    | 39.9697264 | -86.1278146 |   5   |      32      |    1    | {'GoodForKids': 'False', 'BusinessAcceptsCreditCards': 'True', 'ByAppointmentOnly': 'False', 'BusinessParking': "{'garage': True, 'street': True, 'validated': False, 'lot': True, 'valet': False}", 'BikeParking': 'True', 'WheelchairAccessible': 'True'} | Active Life, Cycling Classes, Gyms, Fitness & Instruction, Barre Classes | {'Monday': '16:0-20:0', 'Tuesday': '16:0-20:0', 'Wednesday': '16:0-20:0', 'Thursday': '16:0-20:0', 'Friday': '16:0-20:0', 'Saturday': '7:30-12:0', 'Sunday': '8:0-14:0'} |
+------------------------+---------+----------------+--------+-------+-------------+------------+-------------+-------+--------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

### yelp_user

In [35]:
# Step 1: Read the CSV file for 'yelp_user'
df_user = pd.read_csv('../sampled_data/users_sample.csv')

# Step 2: Connect to the PostgreSQL database
conn = get_db_connection()

# Step 3: Insert data into the 'yelp_user' table
bulk_insert(conn, 'yelp_user', df_user, conflict_column='user_id')

Successfully inserted 42593 rows into yelp_user.

In [39]:
%%sql
SELECT COUNT(*) FROM yelp_user;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

1 rows affected.

+-------+
| count |
+-------+
| 42593 |
+-------+

### review

In [40]:
# Step 1: Read the CSV file for 'reviews_sample'
df_review = pd.read_csv('../sampled_data/reviews_sample.csv')

# Step 2: Connect to the PostgreSQL database
conn = get_db_connection()

# Step 3: Insert data into the 'yelp_user' table
bulk_insert(conn, 'review', df_review, conflict_column='review_id')

Successfully inserted 48743 rows into review.

In [41]:
%%sql
SELECT COUNT(*) FROM review;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

1 rows affected.

+-------+
| count |
+-------+
| 48743 |
+-------+

In [42]:
%%sql
SELECT * FROM review LIMIT 1;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

1 rows affected.

+------------------------+------------------------+------------------------+-------+------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+-------+------+
|       review_id        |        user_id         |      business_id       | stars |    date    |                                                                                                                                                                                                                                            text                                                                                                                                                                                                                                           | useful | funny | cool |
+------------------------+------------------------+------------------------+-------+------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+-------+------+
| 5wPq_FqKNx4NSdjW4MDCRQ | jHcTMCmyetM7HSC7weQTlg | y44MbCvvtmg1FpkNGSWisw |   2   | 2015-08-30 | Hate to be harsh but dang! After having a limited selection at terminal F I finally decided to go with Tony Luke's. I was looking forward in trying there Philly Cheese Steak been in Philly and all. So I unraveled the sandwich and to no surprise the sandwich I got didn't look nothing like the picture on the overhead display of the sandwich. The part that got me even more was the meat. I don't know what it taste like to eat dog food, but I am sure I just paid $10 for it. |   2    |   1   |  0   |
+------------------------+------------------------+------------------------+-------+------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+-------+------+

### checkin

In [58]:
# def bulk_insert(conn, table_name, dataframe, conflict_column=None):
#     """
#     Insert data from a DataFrame into a PostgreSQL table using psycopg2.
    
#     Args:
#         conn: Connection object to the database.
#         table_name: Name of the target table.
#         dataframe: Pandas DataFrame containing the data to be inserted.
#         conflict_column: Column(s) to handle ON CONFLICT clause (string or list of columns).
#     """
#     cursor = conn.cursor()
#     try:
#         # Create a list of column names for the INSERT statement
#         columns = ', '.join([f'"{col}"' for col in dataframe.columns])  # Quote column names to avoid reserved words
#         placeholders = ', '.join(['%s'] * len(dataframe.columns))
        
#         # Create the SQL insert query
#         insert_query = f"""
#         INSERT INTO {table_name} ({columns}) 
#         VALUES ({placeholders})
#         """
        
#         # Add ON CONFLICT clause
#         if conflict_column:
#             if isinstance(conflict_column, list):  # If it's a list of columns, create composite key
#                 conflict_column = ', '.join([f'"{col}"' for col in conflict_column])  # Add quotes
#             else:
#                 conflict_column = f'"{conflict_column}"'  # Handle single column key
            
#             insert_query += f"""
#             ON CONFLICT ({conflict_column}) DO NOTHING
#             """
        
#         # Use executemany to insert all the rows
#         cursor.executemany(insert_query, dataframe.values.tolist())
        
#         # Commit the changes
#         conn.commit()
        
#         print(f"Successfully inserted {len(dataframe)} rows into {table_name}.")
#     except Exception as e:
#         conn.rollback()
#         print(f"Error inserting data into {table_name}: {e}")
#     finally:
#         cursor.close()

In [47]:
# df_checkin = pd.read_csv('../sampled_data/checkins_sample.csv')
# df_checkin.rename(columns={'date': 'date_time'}, inplace=True)
# conn = get_db_connection()
# bulk_insert(conn, 'checkin', df_checkin, conflict_column=['business_id', 'date_time'])

Error inserting data into checkin: invalid input syntax for type timestamp: "2012-07-19 22:37:27, 2012-07-21 00:43:42, 2012-07-24 21:27:12, 2012-07-26 00:44:05, 2012-07-29 00:15:31, 2012-07-31 00:46:10, 2012-07-31 22:26:25, 2012-08-01 15:49:05, 2012-08-02 22:50:16, 2012-08-04 22:37:24, 2012-08-05 03:51:12, 2012-08-05 16:40:28, 2012-08-05 16:40:58, 2012-08-05 20:37:22, 2012-08-05 22:38:09, 2012-08-07 22:13:46, 2012-08-07 22:15:08, 2012-08-08 23:46:11, 2012-08-08 23:47:24, 2012-08-08 23:49:35, 2012-08-08 23:49:58, 2012-08-08 23:50:28, 2012-08-08 23:50:32, 2012-08-08 23:59:43, 2012-08-09 00:10:51, 2012-08-10 16:43:47, 2012-08-10 23:24:04, 2012-08-11 14:13:07, 2012-08-12 01:07:18, 2012-08-12 01:52:45, 2012-08-12 01:59:58, 2012-08-12 02:39:32, 2012-08-12 21:20:16, 2012-08-12 22:15:36, 2012-08-12 22:22:08, 2012-08-14 00:01:14, 2012-08-14 22:10:57, 2012-08-15 00:34:05, 2012-08-15 01:20:52, 2012-08-15 01:34:17, 2012-08-15 13:56:58, 2012-08-15 23:23:22, 2012-08-16 00:44:43, 2012-08-16 22:07:21, 2012-08-17 00:30:53, 2012-08-17 00:33:22, 2012-08-17 00:37:43, 2012-08-17 21:05:37, 2012-08-18 16:53:56, 2012-08-18 17:44:10, 2012-08-18 20:11:29, 2012-08-18 21:44:33, 2012-08-18 22:56:02, 2012-08-19 01:42:37, 2012-08-19 22:35:18, 2012-08-20 22:19:42, 2012-08-20 23:30:17, 2012-08-21 23:39:04, 2012-08-22 01:04:46, 2012-08-23 12:49:34, 2012-08-23 15:13:36, 2012-08-23 21:45:37, 2012-08-23 22:11:16, 2012-08-24 01:35:07, 2012-08-24 23:20:15, 2012-08-25 02:40:42, 2012-08-25 19:11:11, 2012-08-25 19:11:36, 2012-08-25 22:46:51, 2012-08-26 01:08:29, 2012-08-26 23:15:00, 2012-08-27 02:38:54, 2012-08-28 01:17:09, 2012-08-28 16:07:36, 2012-08-28 23:15:15, 2012-08-28 23:37:09, 2012-08-29 22:15:01, 2012-08-29 23:30:19, 2012-08-30 00:37:53, 2012-08-30 00:38:16, 2012-08-30 00:39:27, 2012-08-30 00:39:28, 2012-08-30 00:53:48, 2012-08-30 23:30:09, 2012-09-01 16:48:46, 2012-09-01 17:04:52, 2012-09-02 00:31:59, 2012-09-02 16:39:07, 2012-09-02 18:15:11, 2012-09-02 20:13:12, 2012-09-02 21:58:13, 2012-09-02 22:10:36, 2012-09-03 00:49:55, 2012-09-03 18:24:06, 2012-09-03 18:24:55, 2012-09-03 23:43:13, 2012-09-04 21:47:01, 2012-09-05 22:24:49, 2012-09-06 00:12:22, 2012-09-07 16:37:00, 2012-09-07 23:44:47, 2012-09-08 01:12:12, 2012-09-08 17:30:41, 2012-09-08 17:48:28, 2012-09-08 18:04:16, 2012-09-08 20:32:43, 2012-09-08 23:57:17, 2012-09-09 01:08:10, 2012-09-09 01:35:06, 2012-09-09 02:38:40, 2012-09-10 14:46:38, 2012-09-10 17:56:59, 2012-09-11 00:09:37, 2012-09-12 23:39:05, 2012-09-12 23:51:26, 2012-09-13 00:27:06, 2012-09-13 01:54:05, 2012-09-13 16:41:45, 2012-09-14 01:27:46, 2012-09-14 01:36:48, 2012-09-14 15:51:21, 2012-09-14 18:06:36, 2012-09-14 21:26:37, 2012-09-14 21:31:28, 2012-09-15 00:40:34, 2012-09-15 12:40:45, 2012-09-15 23:14:12, 2012-09-16 00:18:54, 2012-09-18 20:26:03, 2012-09-18 22:36:03, 2012-09-18 23:57:14, 2012-09-19 23:30:32, 2012-09-20 00:44:22, 2012-09-21 21:21:02, 2012-09-22 01:28:56, 2012-09-22 02:28:39, 2012-09-22 02:34:12, 2012-09-22 15:50:39, 2012-09-22 21:57:20, 2012-09-23 00:09:11, 2012-09-23 01:21:01, 2012-09-24 00:12:43, 2012-09-25 00:27:19, 2012-09-26 22:44:15, 2012-09-26 23:03:14, 2012-09-28 01:01:16, 2012-09-28 15:07:14, 2012-09-28 21:49:37, 2012-09-29 00:53:49, 2012-09-29 17:03:30, 2012-09-29 21:40:21, 2012-09-29 22:36:24, 2012-09-30 20:51:02, 2012-09-30 23:20:02, 2012-10-01 21:02:23, 2012-10-01 23:42:48, 2012-10-02 00:22:30, 2012-10-04 21:28:18, 2012-10-05 23:21:09, 2012-10-07 00:41:37, 2012-10-07 21:44:26, 2012-10-08 00:16:36, 2012-10-08 17:29:17, 2012-10-08 23:47:42, 2012-10-09 01:00:23, 2012-10-10 00:01:07, 2012-10-10 01:06:18, 2012-10-10 23:04:01, 2012-10-11 17:59:38, 2012-10-12 01:59:33, 2012-10-12 19:41:47, 2012-10-12 23:51:35, 2012-10-12 23:58:00, 2012-10-13 00:29:30, 2012-10-13 01:36:57, 2012-10-13 23:32:03, 2012-10-14 22:33:03, 2012-10-14 23:22:33, 2012-10-14 23:26:38, 2012-10-14 23:26:53, 2012-10-15 23:43:53, 2012-10-16 17:15:23, 2012-10-16 21:51:10, 2012-10-16 23:07:02, 2012-10-17 01:57:43, 2012-10-17 22:37:55, 2012-10-18 22:04:57, 2012-10-19 00:05:24, 2012-10-19 16:20:27, 2012-10-19 21:55:51, 2012-10-20 23:34:09, 2012-10-21 16:47:57, 2012-10-21 23:29:49, 2012-10-22 23:32:54, 2012-10-23 21:16:04, 2012-10-23 22:46:59, 2012-10-24 16:40:53, 2012-10-25 01:06:47, 2012-10-25 16:39:05, 2012-10-25 19:09:38, 2012-10-25 22:57:12, 2012-10-26 00:15:13, 2012-10-26 17:05:25, 2012-10-26 22:28:28, 2012-10-26 23:16:10, 2012-10-26 23:19:53, 2012-10-27 01:20:11, 2012-10-27 23:18:17, 2012-10-28 18:18:24, 2012-10-29 00:02:22, 2012-11-01 17:15:25, 2012-11-01 23:30:20, 2012-11-01 23:59:43, 2012-11-02 21:54:43, 2012-11-03 18:44:51, 2012-11-03 21:29:46, 2012-11-04 00:18:55, 2012-11-04 00:36:32, 2012-11-04 01:52:02, 2012-11-04 03:12:10, 2012-11-04 18:56:08, 2012-11-04 23:44:17, 2012-11-06 00:07:52, 2012-11-06 17:38:38, 2012-11-06 21:06:01, 2012-11-08 03:14:37, 2012-11-09 04:35:53, 2012-11-09 23:27:53, 2012-11-10 01:12:03, 2012-11-10 02:00:47, 2012-11-10 02:23:44, 2012-11-10 16:50:47, 2012-11-11 01:51:19, 2012-11-11 19:11:18, 2012-11-12 00:26:05, 2012-11-12 19:11:27, 2012-11-15 02:16:59, 2012-11-16 17:06:17, 2012-11-16 22:05:15, 2012-11-17 23:05:37, 2012-11-17 23:34:12, 2012-11-18 22:43:30, 2012-11-18 22:45:18, 2012-11-19 16:29:25, 2012-11-19 18:27:53, 2012-11-19 19:29:35, 2012-11-20 23:48:00, 2012-11-20 23:49:41, 2012-11-20 23:58:28, 2012-11-22 00:27:11, 2012-11-22 01:00:52, 2012-11-24 00:04:43, 2012-11-24 01:17:01, 2012-11-24 01:18:02, 2012-11-24 20:32:54, 2012-11-24 21:58:11, 2012-11-24 23:26:07, 2012-11-25 01:36:23, 2012-11-25 23:03:47, 2012-11-25 23:22:27, 2012-11-26 00:10:06, 2012-11-27 17:43:22, 2012-11-27 22:15:33, 2012-11-28 18:45:39, 2012-11-30 18:30:26, 2012-12-01 01:15:46, 2012-12-01 21:17:07, 2012-12-01 23:50:54, 2012-12-02 22:24:06, 2012-12-03 00:46:17, 2012-12-03 01:30:24, 2012-12-03 02:14:41, 2012-12-03 19:14:30, 2012-12-03 23:14:10, 2012-12-04 00:14:38, 2012-12-04 16:43:40, 2012-12-05 03:13:58, 2012-12-07 00:19:21, 2012-12-07 15:49:42, 2012-12-07 22:28:31, 2012-12-08 01:43:36, 2012-12-08 01:49:46, 2012-12-08 01:58:45, 2012-12-08 02:22:32, 2012-12-09 01:22:04, 2012-12-11 02:43:31, 2012-12-11 17:27:02, 2012-12-12 17:24:37, 2012-12-12 17:58:25, 2012-12-13 17:05:09, 2012-12-15 22:09:24, 2012-12-16 00:09:21, 2012-12-16 17:52:53, 2012-12-18 02:06:11, 2012-12-18 18:20:54, 2012-12-19 22:27:53, 2012-12-20 00:44:23, 2012-12-21 22:32:18, 2012-12-21 22:59:39, 2012-12-21 23:15:54, 2012-12-21 23:38:24, 2012-12-22 01:28:36, 2012-12-22 18:50:01, 2012-12-22 22:40:49, 2012-12-24 01:55:03, 2012-12-27 14:26:51, 2012-12-29 19:11:10, 2012-12-29 23:00:15, 2012-12-30 01:21:58, 2012-12-30 20:23:37, 2012-12-31 01:37:26, 2013-01-01 00:48:57, 2013-01-01 01:37:40, 2013-01-01 17:39:09, 2013-01-02 22:49:11, 2013-01-03 18:36:26, 2013-01-04 01:36:00, 2013-01-05 17:35:20, 2013-01-06 01:14:37, 2013-01-07 00:45:36, 2013-01-08 22:59:50, 2013-01-11 23:52:06, 2013-01-12 00:37:23, 2013-01-12 00:37:39, 2013-01-12 01:13:53, 2013-01-12 01:23:51, 2013-01-12 22:42:50, 2013-01-13 01:51:47, 2013-01-13 20:21:26, 2013-01-15 22:53:49, 2013-01-17 00:22:03, 2013-01-17 02:18:59, 2013-01-17 23:58:08, 2013-01-18 16:35:43, 2013-01-18 18:04:59, 2013-01-19 00:33:41, 2013-01-19 18:55:53, 2013-01-19 23:13:11, 2013-01-20 01:59:06, 2013-01-20 02:00:07, 2013-01-20 19:06:25, 2013-01-20 21:44:43, 2013-01-23 18:38:14, 2013-01-24 00:25:19, 2013-01-24 00:36:41, 2013-01-25 01:29:13, 2013-01-26 03:13:41, 2013-01-27 01:31:19, 2013-01-27 17:08:01, 2013-01-27 17:15:21, 2013-01-27 22:55:32, 2013-01-27 23:26:37, 2013-01-29 22:15:38, 2013-01-31 00:20:53, 2013-01-31 02:33:49, 2013-01-31 02:34:40, 2013-02-01 01:28:04, 2013-02-01 01:50:00, 2013-02-01 18:57:42, 2013-02-02 23:47:33, 2013-02-02 23:54:41, 2013-02-03 00:09:00, 2013-02-03 00:22:48, 2013-02-03 01:03:27, 2013-02-04 18:20:07, 2013-02-05 22:42:40, 2013-02-06 22:19:47, 2013-02-07 00:22:01, 2013-02-08 21:47:00, 2013-02-08 21:49:13, 2013-02-08 21:49:22, 2013-02-08 23:53:08, 2013-02-09 00:38:00, 2013-02-09 23:28:19, 2013-02-10 00:50:33, 2013-02-10 01:11:40, 2013-02-10 01:41:56, 2013-02-10 02:20:25, 2013-02-10 02:39:51, 2013-02-10 03:12:08, 2013-02-11 00:29:15, 2013-02-14 01:03:36, 2013-02-14 16:27:57, 2013-02-14 23:41:26, 2013-02-16 01:23:03, 2013-02-16 01:35:10, 2013-02-16 01:35:32, 2013-02-16 03:23:32, 2013-02-17 01:01:01, 2013-02-17 01:01:11, 2013-02-17 01:04:47, 2013-02-17 01:04:54, 2013-02-17 17:19:08, 2013-02-17 18:32:17, 2013-02-17 21:42:06, 2013-02-18 00:24:23, 2013-02-18 17:33:08, 2013-02-18 18:54:57, 2013-02-18 19:49:06, 2013-02-18 22:50:02, 2013-02-20 02:20:33, 2013-02-21 00:01:02, 2013-02-21 01:47:01, 2013-02-22 17:50:46, 2013-02-22 22:43:50, 2013-02-23 03:39:49, 2013-02-23 23:23:05, 2013-02-24 00:55:55, 2013-02-24 02:01:31, 2013-02-24 22:35:39, 2013-02-25 18:55:09, 2013-02-25 18:58:26, 2013-02-25 21:57:38, 2013-02-25 22:52:20, 2013-02-27 17:46:31, 2013-02-28 18:03:09, 2013-02-28 23:08:01, 2013-03-01 00:40:02, 2013-03-02 20:03:29, 2013-03-03 07:28:51, 2013-03-04 00:02:28, 2013-03-04 00:02:42, 2013-03-04 01:55:55, 2013-03-04 18:46:25, 2013-03-06 00:02:49, 2013-03-06 23:02:43, 2013-03-07 18:09:48, 2013-03-07 22:29:54, 2013-03-07 22:41:48, 2013-03-07 22:42:27, 2013-03-09 01:12:43, 2013-03-09 17:47:34, 2013-03-09 20:24:01, 2013-03-10 22:41:09, 2013-03-10 23:17:38, 2013-03-13 17:16:09, 2013-03-14 01:58:46, 2013-03-14 16:26:35, 2013-03-15 16:02:04, 2013-03-15 16:51:59, 2013-03-15 19:57:27, 2013-03-15 21:57:52, 2013-03-15 22:02:17, 2013-03-15 22:04:15, 2013-03-16 21:33:07, 2013-03-17 23:01:16, 2013-03-17 23:04:56, 2013-03-18 05:32:55, 2013-03-19 23:26:02, 2013-03-20 16:54:16, 2013-03-20 18:56:25, 2013-03-20 22:14:56, 2013-03-21 00:14:43, 2013-03-22 23:38:51, 2013-03-23 00:27:38, 2013-03-23 22:01:29, 2013-03-23 22:13:30, 2013-03-23 23:18:35, 2013-03-23 23:29:19, 2013-03-23 23:30:53, 2013-03-24 00:27:41, 2013-03-24 22:46:47, 2013-03-28 00:46:15, 2013-03-29 00:11:43, 2013-03-29 01:04:16, 2013-03-29 21:12:36, 2013-03-30 16:44:18, 2013-03-30 23:41:51, 2013-03-30 23:44:41, 2013-03-31 00:30:34, 2013-03-31 02:08:05, 2013-03-31 20:15:55, 2013-03-31 21:12:13, 2013-03-31 21:59:33, 2013-04-02 21:12:31, 2013-04-02 21:44:06, 2013-04-04 22:28:24, 2013-04-04 22:58:14, 2013-04-04 23:29:49, 2013-04-05 21:53:15, 2013-04-06 00:37:10, 2013-04-06 00:52:21, 2013-04-06 21:55:39, 2013-04-07 17:53:44, 2013-04-07 21:39:24, 2013-04-07 21:58:41, 2013-04-08 00:46:26, 2013-04-09 21:26:37, 2013-04-09 22:19:59, 2013-04-09 23:44:06, 2013-04-10 01:16:33, 2013-04-10 17:06:28, 2013-04-12 16:26:09, 2013-04-13 03:19:38, 2013-04-13 23:25:42, 2013-04-13 23:35:40, 2013-04-14 17:21:17, 2013-04-14 23:13:57, 2013-04-17 23:41:24, 2013-04-18 11:40:19, 2013-04-19 17:51:46, 2013-04-20 22:27:02, 2013-04-21 00:01:03, 2013-04-21 00:01:30, 2013-04-22 22:36:23, 2013-04-23 22:09:45, 2013-04-23 22:11:44, 2013-04-23 23:36:21, 2013-04-24 01:20:36, 2013-04-24 16:27:33, 2013-04-24 22:05:14, 2013-04-26 22:04:23, 2013-04-26 22:08:11, 2013-04-27 21:35:56, 2013-04-27 23:37:01, 2013-04-28 16:51:35, 2013-04-28 20:18:24, 2013-04-28 21:31:02, 2013-04-28 23:19:52, 2013-04-29 00:51:25, 2013-04-30 00:00:39, 2013-04-30 00:10:49, 2013-04-30 18:39:38, 2013-05-01 00:35:46, 2013-05-03 01:52:21, 2013-05-03 21:17:43, 2013-05-03 23:56:04, 2013-05-04 21:13:47, 2013-05-05 00:03:59, 2013-05-05 18:24:20, 2013-05-05 23:16:20, 2013-05-05 23:34:00, 2013-05-06 00:09:58, 2013-05-06 00:21:55, 2013-05-06 16:26:06, 2013-05-06 19:13:48, 2013-05-07 00:59:29, 2013-05-07 22:54:26, 2013-05-08 22:54:13, 2013-05-10 01:05:44, 2013-05-10 22:29:20, 2013-05-11 02:19:49, 2013-05-11 17:16:41, 2013-05-12 00:56:20, 2013-05-12 00:59:30, 2013-05-12 01:14:51, 2013-05-12 16:36:29, 2013-05-12 17:54:18, 2013-05-12 22:16:36, 2013-05-12 22:38:47, 2013-05-13 22:27:33, 2013-05-13 22:35:04, 2013-05-14 14:38:23, 2013-05-14 15:30:00, 2013-05-15 00:46:23, 2013-05-15 02:22:08, 2013-05-15 19:16:17, 2013-05-17 01:56:23, 2013-05-18 03:02:11, 2013-05-18 22:12:48, 2013-05-18 22:13:11, 2013-05-20 01:13:11, 2013-05-20 23:47:36, 2013-05-21 20:01:58, 2013-05-22 15:22:52, 2013-05-24 21:12:15, 2013-05-24 23:34:11, 2013-05-25 00:50:02, 2013-05-26 21:41:30, 2013-05-26 23:10:20, 2013-05-27 21:49:31, 2013-05-27 23:56:37, 2013-05-28 00:02:57, 2013-05-28 00:08:42, 2013-05-28 01:54:35, 2013-05-28 18:51:04, 2013-05-31 00:53:32, 2013-06-01 23:46:13, 2013-06-02 17:16:09, 2013-06-02 21:37:11, 2013-06-06 22:28:27, 2013-06-07 21:29:25, 2013-06-07 21:59:10, 2013-06-08 00:37:24, 2013-06-09 00:00:02, 2013-06-09 22:59:59, 2013-06-11 16:16:51, 2013-06-13 00:43:15, 2013-06-13 02:00:50, 2013-06-13 22:32:22, 2013-06-14 18:07:03, 2013-06-14 19:46:53, 2013-06-14 22:08:04, 2013-06-14 23:42:59, 2013-06-15 00:05:50, 2013-06-15 00:07:44, 2013-06-15 00:08:37, 2013-06-15 18:20:41, 2013-06-15 23:04:34, 2013-06-15 23:06:03, 2013-06-16 02:32:59, 2013-06-17 20:43:30, 2013-06-18 16:17:08, 2013-06-19 00:16:34, 2013-06-19 00:21:40, 2013-06-19 18:04:03, 2013-06-19 22:48:40, 2013-06-21 23:33:26, 2013-06-22 00:20:31, 2013-06-22 00:54:22, 2013-06-22 17:38:42, 2013-06-23 00:15:32, 2013-06-23 00:31:44, 2013-06-23 00:52:54, 2013-06-24 01:36:37, 2013-06-25 22:07:35, 2013-06-27 00:01:57, 2013-06-27 00:11:27, 2013-06-27 00:30:09, 2013-06-27 00:36:58, 2013-06-27 17:05:40, 2013-06-27 23:05:10, 2013-06-28 17:58:58, 2013-06-28 18:00:37, 2013-06-29 00:35:09, 2013-06-29 16:57:56, 2013-06-29 23:50:58, 2013-07-04 00:12:00, 2013-07-05 06:57:31, 2013-07-06 01:18:55, 2013-07-06 02:02:28, 2013-07-06 15:45:02, 2013-07-06 20:50:42, 2013-07-06 23:44:16, 2013-07-06 23:44:36, 2013-07-07 01:29:29, 2013-07-07 21:24:54, 2013-07-07 22:06:31, 2013-07-07 23:58:35, 2013-07-10 23:49:52, 2013-07-11 16:54:44, 2013-07-11 16:58:35, 2013-07-12 17:06:53, 2013-07-12 17:08:15, 2013-07-12 23:48:04, 2013-07-14 00:50:41, 2013-07-14 22:04:32, 2013-07-14 22:38:20, 2013-07-14 22:57:45, 2013-07-14 23:23:41, 2013-07-15 01:21:43, 2013-07-15 16:41:31, 2013-07-16 23:40:43, 2013-07-19 00:10:20, 2013-07-19 00:25:16, 2013-07-19 23:39:31, 2013-07-19 23:54:16, 2013-07-20 01:07:38, 2013-07-20 01:44:37, 2013-07-20 15:39:41, 2013-07-20 16:49:56, 2013-07-20 16:52:16, 2013-07-21 01:02:49, 2013-07-21 23:11:18, 2013-07-21 23:17:48, 2013-07-21 23:28:15, 2013-07-22 02:06:44, 2013-07-22 02:59:40, 2013-07-24 21:56:54, 2013-07-24 23:32:44, 2013-07-25 01:53:27, 2013-07-26 22:24:21, 2013-07-27 19:20:26, 2013-07-27 21:22:43, 2013-07-28 18:55:19, 2013-07-28 21:00:23, 2013-07-28 22:07:22, 2013-07-29 21:00:53, 2013-07-29 22:46:58, 2013-07-30 22:10:38, 2013-07-30 22:35:18, 2013-07-31 16:33:32, 2013-08-02 23:21:27, 2013-08-02 23:39:06, 2013-08-03 00:27:14, 2013-08-03 00:29:24, 2013-08-03 01:20:28, 2013-08-03 01:32:10, 2013-08-03 03:11:05, 2013-08-04 00:41:52, 2013-08-06 22:35:39, 2013-08-07 01:20:32, 2013-08-07 21:54:31, 2013-08-07 22:59:05, 2013-08-07 22:59:30, 2013-08-09 21:43:37, 2013-08-10 00:43:46, 2013-08-10 19:31:19, 2013-08-10 21:19:12, 2013-08-10 22:17:36, 2013-08-11 01:45:17, 2013-08-11 18:23:55, 2013-08-12 00:39:37, 2013-08-12 00:51:13, 2013-08-12 01:27:03, 2013-08-12 18:17:38, 2013-08-13 22:35:13, 2013-08-13 23:26:03, 2013-08-14 22:44:05, 2013-08-14 22:50:29, 2013-08-14 22:59:02, 2013-08-16 01:29:21, 2013-08-16 21:11:19, 2013-08-18 01:14:29, 2013-08-19 00:01:37, 2013-08-19 00:19:03, 2013-08-19 23:29:52, 2013-08-21 00:44:41, 2013-08-22 02:08:44, 2013-08-22 22:33:27, 2013-08-23 00:31:02, 2013-08-23 22:41:55, 2013-08-23 23:46:35, 2013-08-23 23:48:35, 2013-08-24 01:07:08, 2013-08-24 01:29:29, 2013-08-24 02:11:26, 2013-08-24 03:12:02, 2013-08-25 02:11:45, 2013-08-25 03:19:00, 2013-08-25 20:18:08, 2013-08-25 21:04:41, 2013-08-25 21:40:00, 2013-08-25 22:53:45, 2013-08-26 00:19:05, 2013-08-26 21:23:27, 2013-08-26 22:30:13, 2013-08-27 01:35:10, 2013-08-28 22:07:12, 2013-08-28 22:30:50, 2013-08-28 22:32:54, 2013-08-28 22:50:58, 2013-08-29 01:45:54, 2013-08-30 00:13:30, 2013-08-30 02:09:22, 2013-08-30 02:17:45, 2013-08-30 17:21:44, 2013-08-30 22:49:43, 2013-08-30 23:40:52, 2013-08-31 00:18:54, 2013-09-01 00:13:08, 2013-09-01 17:32:09, 2013-09-02 01:24:44, 2013-09-02 02:27:25, 2013-09-02 18:42:44, 2013-09-03 22:34:33, 2013-09-05 00:44:30, 2013-09-05 22:29:05, 2013-09-07 23:56:43, 2013-09-08 22:26:19, 2013-09-08 22:28:33, 2013-09-11 00:14:45, 2013-09-11 00:56:21, 2013-09-13 00:06:40, 2013-09-13 00:12:18, 2013-09-14 00:43:08, 2013-09-14 00:43:47, 2013-09-14 22:02:35, 2013-09-14 23:43:38, 2013-09-15 00:52:52, 2013-09-18 22:47:09, 2013-09-20 00:05:00, 2013-09-20 19:02:38, 2013-09-20 23:05:41, 2013-09-22 01:04:44, 2013-09-23 01:06:22, 2013-09-23 22:59:34, 2013-09-23 23:22:53, 2013-09-23 23:23:00, 2013-09-23 23:23:02, 2013-09-24 02:28:21, 2013-09-24 22:36:33, 2013-09-25 18:20:43, 2013-09-25 23:07:20, 2013-09-27 22:42:52, 2013-09-29 17:42:58, 2013-09-29 21:42:51, 2013-09-29 22:09:49, 2013-09-29 23:32:27, 2013-09-30 23:51:48, 2013-10-01 21:51:07, 2013-10-02 08:18:43, 2013-10-03 00:17:42, 2013-10-05 00:45:38, 2013-10-05 03:32:00, 2013-10-05 04:12:57, 2013-10-05 23:31:05, 2013-10-05 23:34:03, 2013-10-06 00:04:12, 2013-10-06 00:12:27, 2013-10-06 00:25:26, 2013-10-06 19:29:59, 2013-10-08 00:00:36, 2013-10-08 23:06:06, 2013-10-08 23:17:48, 2013-10-11 20:22:37, 2013-10-12 01:09:54, 2013-10-12 01:15:41, 2013-10-12 16:33:50, 2013-10-12 21:47:25, 2013-10-12 23:13:07, 2013-10-12 23:19:35, 2013-10-13 16:35:12, 2013-10-13 18:42:05, 2013-10-13 20:29:03, 2013-10-14 21:24:11, 2013-10-16 22:44:22, 2013-10-17 00:18:40, 2013-10-17 22:58:10, 2013-10-18 18:32:20, 2013-10-19 00:21:41, 2013-10-19 03:23:18, 2013-10-19 19:07:11, 2013-10-19 19:45:03, 2013-10-20 00:33:01, 2013-10-20 16:33:55, 2013-10-22 22:29:30, 2013-10-22 23:13:32, 2013-10-25 00:10:25, 2013-10-25 21:33:20, 2013-10-25 23:47:42, 2013-10-26 22:40:06, 2013-10-27 17:23:27, 2013-10-29 23:14:08, 2013-10-30 21:33:42, 2013-10-31 22:14:42, 2013-11-01 21:58:20, 2013-11-01 23:31:38, 2013-11-02 00:01:24, 2013-11-02 23:50:49, 2013-11-04 00:27:36, 2013-11-04 00:29:00, 2013-11-04 23:53:26, 2013-11-05 01:53:13, 2013-11-05 22:47:00, 2013-11-06 00:45:41, 2013-11-07 01:42:57, 2013-11-09 01:05:07, 2013-11-09 21:31:43, 2013-11-09 23:37:05, 2013-11-12 17:15:14, 2013-11-12 22:21:04, 2013-11-12 22:56:43, 2013-11-13 03:12:17, 2013-11-13 17:31:11, 2013-11-15 00:32:27, 2013-11-16 00:41:27, 2013-11-16 03:00:40, 2013-11-16 22:47:47, 2013-11-17 00:03:37, 2013-11-17 00:19:09, 2013-11-17 00:39:30, 2013-11-17 01:31:51, 2013-11-17 21:20:07, 2013-11-18 00:16:18, 2013-11-18 23:17:15, 2013-11-19 17:13:35, 2013-11-20 01:17:35, 2013-11-20 18:00:57, 2013-11-20 18:18:16, 2013-11-21 00:43:54, 2013-11-22 22:18:02, 2013-11-22 22:23:08, 2013-11-22 23:08:58, 2013-11-23 03:10:26, 2013-11-23 03:59:06, 2013-11-23 23:21:49, 2013-11-24 00:44:57, 2013-11-24 01:20:00, 2013-11-26 16:39:58, 2013-11-26 22:54:11, 2013-11-27 23:24:29, 2013-11-28 00:41:56, 2013-11-30 02:50:35, 2013-11-30 18:13:17, 2013-11-30 21:17:06, 2013-12-01 02:05:26, 2013-12-01 19:04:28, 2013-12-06 18:06:18, 2013-12-07 00:22:39, 2013-12-07 00:35:53, 2013-12-07 00:36:42, 2013-12-07 00:54:47, 2013-12-07 00:55:10, 2013-12-07 01:54:07, 2013-12-07 18:42:33, 2013-12-07 21:59:02, 2013-12-07 22:36:36, 2013-12-07 23:54:13, 2013-12-08 00:00:08, 2013-12-10 00:54:40, 2013-12-10 23:56:34, 2013-12-11 01:05:23, 2013-12-11 22:31:31, 2013-12-12 00:20:07, 2013-12-13 01:36:28, 2013-12-13 01:54:24, 2013-12-13 23:28:01, 2013-12-14 00:37:12, 2013-12-15 23:18:00, 2013-12-16 17:30:42, 2013-12-17 22:34:49, 2013-12-18 20:16:47, 2013-12-18 23:46:52, 2013-12-19 00:03:46, 2013-12-19 23:33:46, 2013-12-20 23:47:47, 2013-12-22 02:26:42, 2013-12-22 02:27:08, 2013-12-22 03:05:36, 2013-12-22 20:33:19, 2013-12-22 22:55:22, 2013-12-22 23:00:24, 2013-12-22 23:45:19, 2013-12-24 00:19:01, 2013-12-25 21:33:12, 2013-12-25 23:45:55, 2013-12-26 00:19:45, 2013-12-26 02:27:39, 2013-12-26 18:19:20, 2013-12-26 21:03:10, 2013-12-26 21:17:03, 2013-12-26 22:30:45, 2013-12-26 23:08:28, 2013-12-26 23:45:26, 2013-12-27 17:26:12, 2013-12-28 20:19:25, 2013-12-28 20:20:06, 2013-12-28 21:09:58, 2013-12-28 22:08:30, 2013-12-29 00:38:05, 2013-12-29 01:21:45, 2013-12-29 05:19:10, 2013-12-30 00:33:58, 2013-12-30 14:29:46, 2013-12-30 15:58:51, 2013-12-30 18:41:14, 2013-12-31 00:42:56, 2013-12-31 00:5

### tip

In [48]:
# Step 1: Read the CSV file
df_tip = pd.read_csv('../sampled_data/tips_sample.csv')

# Step 2: Connect to the PostgreSQL database
conn = get_db_connection()

# Step 3: Insert data into the table
bulk_insert(conn, 'tip', df_tip, conflict_column=['user_id', 'business_id', 'date'])

Successfully inserted 3171 rows into tip.

In [49]:
%%sql
SELECT * FROM tip LIMIT 1;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

1 rows affected.

+------------------------+------------------------+--------------------------------------+------------+------------------+
|        user_id         |      business_id       |                 text                 |    date    | compliment_count |
+------------------------+------------------------+--------------------------------------+------------+------------------+
| imhUgZdEXe-JLZT381S6-w | bp5Mk2d0qofUeF5uLauIbg | Everything on the menu is authentic! | 2017-06-14 |        0         |
+------------------------+------------------------+--------------------------------------+------------+------------------+

# Normalized Data

## Create the data schema

### normalized business data

In [73]:
# Connect to the PostgreSQL database
conn = get_db_connection()
cursor = conn.cursor()

# Full SQL schema definition
schema_sql = """
DROP TABLE IF EXISTS location CASCADE;
DROP TABLE IF EXISTS nor_business CASCADE;

CREATE TABLE IF NOT EXISTS nor_business (
    business_id VARCHAR(22) PRIMARY KEY,
    name VARCHAR NOT NULL,
    stars NUMERIC CHECK (stars BETWEEN 0 AND 5),
    review_count INTEGER,
    is_open INTEGER CHECK (is_open IN (0, 1)),
    attributes TEXT,
    categories TEXT, 
    hours TEXT
);

CREATE TABLE IF NOT EXISTS location (
    business_id VARCHAR(22) REFERENCES nor_business (business_id) ON DELETE CASCADE,
    address VARCHAR,
    city VARCHAR,
    state VARCHAR(2),
    postal_code VARCHAR(10),
    latitude NUMERIC,
    longitude NUMERIC
);

"""

# Execute the schema to create the tables
cursor.execute(schema_sql)

# Commit and close
conn.commit()
cursor.close()
conn.close()
print("Tables created successfully.")

Tables created successfully.

In [75]:
## normalized business
# Step 1: Read the CSV file
df_nor_business = df_business[['business_id', 'name', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours']]
df_nor_business

# Step 2: Connect to the PostgreSQL database
conn = get_db_connection()

# Step 3: Insert data into the table
bulk_insert(conn, 'nor_business', df_nor_business, conflict_column=['business_id'])

Successfully inserted 1000 rows into nor_business.

In [76]:
%%sql
SELECT * FROM nor_business LIMIT 5;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

5 rows affected.

+------------------------+----------------------+-------+--------------+---------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|      business_id       |         name         | stars | review_count | is_open |                                                                                                                                                attributes                                                                                                                                               |                                              categories                                             |                                                                                   hours                                                                                   |
+------------------------+----------------------+-------+--------------+---------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| UVfYRQIr6u_WrFSY5Cv7xw |       InCycle        |   5   |      32      |    1    |                       {'GoodForKids': 'False', 'BusinessAcceptsCreditCards': 'True', 'ByAppointmentOnly': 'False', 'BusinessParking': "{'garage': True, 'street': True, 'validated': False, 'lot': True, 'valet': False}", 'BikeParking': 'True', 'WheelchairAccessible': 'True'}                       |               Active Life, Cycling Classes, Gyms, Fitness & Instruction, Barre Classes              |  {'Monday': '16:0-20:0', 'Tuesday': '16:0-20:0', 'Wednesday': '16:0-20:0', 'Thursday': '16:0-20:0', 'Friday': '16:0-20:0', 'Saturday': '7:30-12:0', 'Sunday': '8:0-14:0'} |
| wH6QxQv31IJ-qQ-FKIc5TA |    Roman Plumbing    |  4.5  |      29      |    1    |                                                                                                  {'BusinessAcceptsBitcoin': 'False', 'ByAppointmentOnly': 'True', 'BusinessAcceptsCreditCards': 'True'}                                                                                                 | Plumbing, Water Heater Installation/Repair, Contractors, Home Services, Water Purification Services |                {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', 'Wednesday': '8:0-17:0', 'Thursday': '8:0-17:0', 'Friday': '8:0-17:0', 'Saturday': '8:0-17:0'}               |
| K1NdCTaJWK1ezkZpPyB7-A |  Desert Rain Coffee  |   5   |      46      |    0    | {'BusinessAcceptsCreditCards': 'True', 'RestaurantsTakeOut': 'True', 'RestaurantsPriceRange2': '2', 'OutdoorSeating': 'True', 'BikeParking': 'True', 'Caters': 'False', 'WiFi': "u'free'", 'BusinessParking': "{u'valet': False, u'garage': None, u'street': False, u'lot': True, u'validated': None}"} |                                          Coffee & Tea, Food                                         |                 {'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', 'Wednesday': '7:0-15:0', 'Thursday': '7:0-15:0', 'Friday': '7:0-15:0', 'Sunday': '8:0-12:0'}                |
| juL8ovMlnjkXNACxZ8HLAQ | Sam Levitz Furniture |   2   |     186      |    1    |                   {'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'RestaurantsPriceRange2': '2', 'BusinessAcceptsCreditCards': 'True', 'BikeParking': 'False', 'RestaurantsTakeOut': 'None', 'RestaurantsDelivery': 'None'}                  |                        Shopping, Mattresses, Home & Garden, Furniture Stores                        | {'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0', 'Wednesday': '11:0-20:0', 'Thursday': '11:0-20:0', 'Friday': '11:0-20:0', 'Saturday': '11:0-20:0', 'Sunday': '11:0-18:0'} |
| 2eN2pfPCear_ofmgQ0peCw |  David Caplan, CPA   |  4.5  |      13      |    1    |                                                                                                                                                   None                                                                                                                                                  |                                  Professional Services, Accountants                                 |                                                                                    None                                                                                   |
+------------------------+----------------------+-------+--------------+---------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [77]:
%%sql
EXPLAIN ANALYZE SELECT * FROM nor_business LIMIT 5;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

4 rows affected.

+-------------------------------------------------------------------------------------------------------------------+
|                                                     QUERY PLAN                                                    |
+-------------------------------------------------------------------------------------------------------------------+
|                Limit  (cost=0.00..0.21 rows=5 width=230) (actual time=0.009..0.011 rows=5 loops=1)                |
|   ->  Seq Scan on nor_business  (cost=0.00..104.80 rows=2480 width=230) (actual time=0.009..0.009 rows=5 loops=1) |
|                                              Planning Time: 0.069 ms                                              |
|                                              Execution Time: 0.026 ms                                             |
+-------------------------------------------------------------------------------------------------------------------+

In [78]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [79]:
## location
df_location = df_business[['business_id', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude']]
df_location

# Step 2: Connect to the PostgreSQL database
conn = get_db_connection()

# Step 3: Insert data into the table
bulk_insert(conn, 'location', df_location)

Successfully inserted 1000 rows into location.

In [83]:
%%sql
SELECT * FROM location LIMIT 10;

Running query in 'postgresql://michellelin@localhost:5432/yelp'

10 rows affected.

+------------------------+------------------------+-----------------+-------+-------------+-------------+--------------+
|      business_id       |        address         |       city      | state | postal_code |   latitude  |  longitude   |
+------------------------+------------------------+-----------------+-------+-------------+-------------+--------------+
| UVfYRQIr6u_WrFSY5Cv7xw |     736 Hanover Pl     |      Carmel     |   IN  |    46032    |  39.9697264 | -86.1278146  |
| wH6QxQv31IJ-qQ-FKIc5TA |    6125 Grand Blvd     | New Port Richey |   FL  |    34652    |  28.247926  |  -82.719939  |
| K1NdCTaJWK1ezkZpPyB7-A |  1551 E Tangerine Rd   |    Oro Valley   |   AZ  |    85755    |  32.429167  | -110.948631  |
| juL8ovMlnjkXNACxZ8HLAQ | 3750 W Orange Grove Rd |      Tucson     |   AZ  |    85741    |  32.3248992 | -111.0444852 |
| 2eN2pfPCear_ofmgQ0peCw |  301 Andorra Glen Ct   |  Lafayette Hill |   PA  |    19444    |  40.0884567 | -75.2674119  |
| oUnC0Mcl_nozqkOXejTQXQ |  1875 S Alvernon Way   |      Tucson     |   AZ  |    85711    | 32.20042127 | -110.9089026 |
| sfOczyUZLffzSOVeVBbJrw |    108 N Wayne Ave     |      Wayne      |   PA  |    19087    |  40.0444568 | -75.3881712  |
| toMVWIsPJmS7-LiLAf2AfA |   3400 S Lawrence St   |   Philadelphia  |   PA  |    19148    |  39.9049727 | -75.1588247  |
| UcQUBTXcEke44ymSpX3qKw |          NaN           |      Boise      |   ID  |    83709    |  43.5516566 | -116.2987901 |
| pJTtJv3pNQxFr1CLRXj7xQ |      2441 Rte 206      |    Eastampton   |   NJ  |    08060    |  39.9869773 | -74.7354294  |
+------------------------+------------------------+-----------------+-------+-------------+-------------+--------------+
Truncated to displaylimit of 10.

### Explore yelp_user

In [89]:
df_user.isnull().sum()
# from the result we can see there are a lot of null values for elite, so we can normalize that as well

user_id                   0
name                      0
review_count              0
yelping_since             0
useful                    0
funny                     0
cool                      0
elite                 34553
friends                   0
fans                      0
average_stars             0
compliment_hot            0
compliment_more           0
compliment_profile        0
compliment_cute           0
compliment_list           0
compliment_note           0
compliment_plain          0
compliment_cool           0
compliment_funny          0
compliment_writer         0
compliment_photos         0
dtype: int64

In [96]:
# Step 1: Split the 'elite' column into multiple rows
df_elite = df_user.assign(elite=df_user['elite'].str.split(',')).explode('elite')

# Step 2: Remove any extra spaces and drop NaN years
df_elite['elite'] = df_elite['elite'].str.strip()
df_elite = df_elite.dropna(subset=['elite'])

# Step 3: Drop duplicates in case of redundancy
df_elite = df_elite[['user_id', 'elite']].drop_duplicates()

# Step 4: Rename 'elite' to 'elite_year' 
df_elite.rename(columns={'elite': 'elite_year'}, inplace=True)

print(df_elite)

                      user_id elite_year
0      j14WgRoU_-2ZE1aw1dXrJg       2009
0      j14WgRoU_-2ZE1aw1dXrJg       2010
0      j14WgRoU_-2ZE1aw1dXrJg       2011
0      j14WgRoU_-2ZE1aw1dXrJg       2012
0      j14WgRoU_-2ZE1aw1dXrJg       2013
...                       ...        ...
41681  W1xuqnkt5o82LJ9w4bnAlw         20
41681  W1xuqnkt5o82LJ9w4bnAlw       2021
41873  O-iXRW6_2el1G-AwE5t1FA       2021
41886  Y0TYtVCQ3P7ZV50mZiBJkA         20
41886  Y0TYtVCQ3P7ZV50mZiBJkA       2021

[34199 rows x 2 columns]

In [99]:
### friends
# Normalize 'friends' column
df_friends = df_user[['user_id', 'friends']].copy()

# Split the 'friends' column by comma and explode into multiple rows
df_friends = df_friends.assign(friends=df_friends['friends'].str.split(',')).explode('friends')

# Clean: Remove extra spaces, NaN, and empty strings
df_friends['friends'] = df_friends['friends'].str.strip()  # Strip spaces
df_friends = df_friends.dropna(subset=['friends'])  # Drop NaN
df_friends = df_friends[df_friends['friends'] != '']  # Drop empty strings
df_friends = df_friends[df_friends['friends'] != 'None']

# Rename for clarity
df_friends.rename(columns={'friends': 'friend_id'}, inplace=True)

print(df_friends)

                      user_id               friend_id
0      j14WgRoU_-2ZE1aw1dXrJg  ueRPE0CX75ePGMqOFVj6IQ
0      j14WgRoU_-2ZE1aw1dXrJg  52oH4DrRvzzl8wh5UXyU0A
0      j14WgRoU_-2ZE1aw1dXrJg  E_GAXhVA1_lVC2aFpMQElA
0      j14WgRoU_-2ZE1aw1dXrJg  HwlpkOpidkZWvyjrxFk6Ag
0      j14WgRoU_-2ZE1aw1dXrJg  kuDmRGcvJhFCHEXTNH1d4Q
...                       ...                     ...
41975  kWGuleSbqm7DYJ4x43iH7Q  5X1-nf3_moBHqfhQd-5D0A
41996  btQA-pLfeZqFF74xmc935Q  -pkh2f3NLZFgTxeQMvcMPA
42018  Thy26dloVdr1f2a93gZiRw  3ifGF5eKfDsvpqPl_igwPQ
42125  NWf_iRg33goMvr_QsmAkdw  424nulIpc-FTeH6kfTIABg
42333  rj1ugAxFKI--fCMjekwZow  Ygc0mm-LHseMX_TGKElx8Q

[3761912 rows x 2 columns]

### Normalized yelp_user

In [109]:
# Connect to the PostgreSQL database
conn = get_db_connection()
cursor = conn.cursor()

# Full SQL schema definition
schema_sql = """
DROP TABLE IF EXISTS friends CASCADE;
DROP TABLE IF EXISTS elite CASCADE;
DROP TABLE IF EXISTS nor_user CASCADE;

CREATE TABLE IF NOT EXISTS nor_user (
    user_id VARCHAR(22) PRIMARY KEY,
    name TEXT,
    review_count INTEGER,
    yelping_since DATE,
    useful INTEGER,
    funny INTEGER,
    cool INTEGER,
    fans INTEGER,
    average_stars NUMERIC CHECK (average_stars BETWEEN 0 AND 5),
    compliment_hot INTEGER,
    compliment_more INTEGER,
    compliment_profile INTEGER,
    compliment_cute INTEGER,
    compliment_list INTEGER,
    compliment_note INTEGER,
    compliment_plain INTEGER,
    compliment_cool INTEGER,
    compliment_funny INTEGER,
    compliment_writer INTEGER,
    compliment_photos INTEGER
);

CREATE TABLE IF NOT EXISTS friends (
    user_id VARCHAR(22) REFERENCES nor_user(user_id) ON DELETE CASCADE,
    friend_id VARCHAR(22)
);

CREATE TABLE IF NOT EXISTS elite (
    user_id VARCHAR(22) REFERENCES nor_user(user_id) ON DELETE CASCADE,
    elite_year INTEGER
);


"""

# Execute the schema to create the tables
cursor.execute(schema_sql)

# Commit and close
conn.commit()
cursor.close()
conn.close()
print("Tables created successfully.")

Tables created successfully.

In [110]:
## insert nor_user
df_user_nor = df_user[['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos']]

# Step 2: Connect to the PostgreSQL database
conn = get_db_connection()

# Step 3: Insert data into the table
bulk_insert(conn, 'nor_user', df_user_nor, conflict_column='user_id')

Successfully inserted 42593 rows into nor_user.

In [111]:
df_elite.columns

Index(['user_id', 'elite_year'], dtype='object')

In [112]:
## insert elite
conn = get_db_connection()
bulk_insert(conn, 'elite', df_elite)

Successfully inserted 34199 rows into elite.

In [114]:
## insert friends
conn = get_db_connection()
bulk_insert(conn, 'friends', df_friends)

Successfully inserted 3761912 rows into friends.

# Query Performance Comparison