In [2]:
import psycopg

In [3]:
%reload_ext sql

In [4]:
%sql postgresql://michellelin@localhost:5432/yelp

In [5]:
%config SqlMagic.displaylimit = 30

# Query 1 
### Most Reviewed Businesses in Each City

In [6]:
-- Option 1: For denormalized 'business' table
WITH ranked_businesses AS (
    SELECT 
        city, 
        state, 
        business_id, 
        name, 
        review_count, 
        ROW_NUMBER() OVER (PARTITION BY city, state ORDER BY review_count DESC) AS rank 
    FROM 
        business
)
SELECT 
    city, 
    state, 
    business_id, 
    name, 
    review_count 
FROM 
    ranked_businesses 
WHERE 
    rank = 1 
ORDER BY 
    review_count DESC 
LIMIT 10;

-- Option 2: For normalized 'nor_business' and 'location' tables
WITH ranked_businesses AS (
    SELECT 
        loc.city, 
        loc.state, 
        nb.business_id, 
        nb.name, 
        nb.review_count, 
        ROW_NUMBER() OVER (PARTITION BY loc.city, loc.state ORDER BY nb.review_count DESC) AS rank 
    FROM 
        nor_business nb 
    JOIN 
        location loc ON nb.business_id = loc.business_id 
)
SELECT 
    city, 
    state, 
    business_id, 
    name, 
    review_count 
FROM 
    ranked_businesses 
WHERE 
    rank = 1 
ORDER BY 
    review_count DESC 
LIMIT 10;

SyntaxError: invalid syntax (2819850461.py, line 1)

In [ ]:
s